<h2>Our Recipes</h2>
<input (input)="search($event.target.value)" name="search" type="text" id="formFields_2" placeholder="Search for a recipe...." size="45">
<nav class="subnav">
    <ul class="nav">
        <li *ngFor="let filter of filters" class="nav-item">
            <span class="nav-link" (click)="search(filter.description)">{{filter.description}}</span>
        </li>
    </ul>
</nav>
<ul class="grid" *ngIf="recipes">
    <li *ngFor="let recipe of recipes">
      <div class="card">
        <div class="card-img">
            <img [src]='recipe.photoUrl'>
            <div class="card-block" routerLink="/recipes/{{recipe.id}}">
                <h4 class="card-title">{{recipe.name}}</h4>
                <p class="card-text">
                </p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-icon btn-primary" (click)="toggleModal(recipe.id)">
                <clr-icon shape="add-text"></clr-icon>
                Add
              </button>
            </div>
        </div>
      </div>
    </li>
    <ng-template #loading>Loading recipes...</ng-template>
  </ul>
  <div [hidden]="!showModal">
    <div class="modal">
      <div class="modal-dialog" role="dialog" aria-hidden="true">
          <div class="modal-content" *ngIf='lists?.length > 0 else new'>
              <div class="modal-header">
                  <button aria-label="Close" class="close" type="button" (click)="toggleModal()">
                      <clr-icon aria-hidden="true" shape="close"></clr-icon>
                  </button>
                  <h3 class="modal-title">Add recipe to list</h3>
              </div>
              <div class="modal-body">
                <div class="form-block">
                  <div class="form-group">
                    <label for="selects_1">Select list:</label>
                    <div class="select">
                      <select id="selects_1" #selectedList>
                        <option *ngFor="let list of lists" [value]="list.id">{{ list.title }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-outline" type="button" (click)="toggleModal()">Cancel</button>
                  <button class="btn btn-primary" type="button" (click)="addRecipe(selectedList.value)">Ok</button>
              </div>
          </div>
          <ng-template #new>
            <div class="modal-content" >
                <div class="modal-header">
                    <button aria-label="Close" class="close" type="button" (click)="toggleModal()">
                        <clr-icon aria-hidden="true" shape="close"></clr-icon>
                    </button>
                    <h3 class="modal-title">Create new list</h3>
                    <p>Whoops, you have no lists yet! :(<br/>
                    Create a new one and then add this recipe to it.</p>
                </div>
                <div class="modal-body">
                  <div class="form-block">
                    <div class="form-group">
                      <label for="list_name">Name your list:</label>
                      <div class="form-group">
                        <label class="required"></label>
                        <input type="text" name="list_name" required id="requiredInput" placeholder="List name goes here" #listTitle>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline" type="button" (click)="toggleModal()">Cancel</button>
                    <button class="btn btn-primary" type="button" (click)="addList(listTitle.value)">Create list</button>
                </div>
            </div>
          </ng-template>
      </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
  </div>


<!-- <div *ngFor='let recipe of recipes'>
    <div class="card-columns">
      <div class="card">
        <a routerLink="/recipes/{{ recipe.id }}">
          <div class="card-img">
            <img src="http://{{ recipe.photoUrl }}"/>
          </div>
          <div class="card-block">
            <p class="card-text">{{ recipe.name }}</p>
          </div>
        </a>
      </div>
    </div>


  </div> -->
