*:focus {
  outline: none!important;
}

header {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.main-heading {
  color: #FFF;
  font-size: 5em;
  margin-top: auto;
  margin-bottom: auto;
}

nav {
  margin-bottom: 30px;
}

.nav-link {
  text-decoration: none;
  color: #FFF;
  background-color: #000;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.7em;
}

.login {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.is-solid {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 5px;
}

.is-solid:active {
  outline: none;
}

